language: cpp

cache:
  directories:
    - tools/boost_1_68_0
    - $HOME/.pip-cache
    - /c/Python3

before_install:
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then PY_CMD=/c/Python3/python ; else PY_CMD=python3 ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then powershell Start-Process -PassThru -Wait PowerShell -ArgumentList "'-Command Set-MpPreference -DisableArchiveScanning \$true'"    ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then powershell Start-Process -PassThru -Wait PowerShell -ArgumentList "'-Command Set-MpPreference -DisableBehaviorMonitoring \$true'" ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then powershell Start-Process -PassThru -Wait PowerShell -ArgumentList "'-Command Set-MpPreference -DisableRealtimeMonitoring \$true'" ; fi

addons:
  apt: 
    packages:
    - python3
    - python3-pip
    - python3-setuptools

install: 
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then if [[ ! -d "C:\Python3" || ! -f "C:\Python3\python" ]]; then choco install python3 --version=3.5.4 --params "/InstallDir:C:\Python3"; fi fi
  - $PY_CMD -m pip install --user --upgrade pip
  - $PY_CMD -m pip install --user --upgrade setuptools
  - $PY_CMD -m pip install --user wheel
  - $PY_CMD -m pip install --user -r maraboupy/test_requirements.txt --cache-dir $HOME/.pip-cache

matrix:
  include:
    - os: linux
      dist: xenial
      compiler: gcc
      script:
      - mkdir -p build
      - cd build
      - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD)
      - cmake --build . -j 2
      - ctest -L system -j 2
      - ctest -L regress[0-1] -j 2
      - cd ..
      - $PY_CMD -m pytest --cov=maraboupy maraboupy/test

    - os: linux
      dist: xenial
      compiler: clang
      script:
      - mkdir - p build
      - cd build
      - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD) -DCMAKE_BUILD_TYPE=Debug
      - cmake --build . -j 2
      - ctest -L system -j 2
      - ctest -L regress0 -j 2
      - cd ..
      - $PY_CMD -m pytest --cov=maraboupy maraboupy/test

    - os: windows
      script:
      - mkdir -p build
      - cd build
      - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD) -G"Visual Studio 15 2017 Win64"
      - cmake --build . --config Release
      - ctest -L system -j 2
      - ctest -L regress0 -j 2 # does not work ...
      - cd ..
      - cp maraboupy/Release/* maraboupy
      - $PY_CMD -m pytest --cov=maraboupy maraboupy/test

after_success:
  - codecov

notifications:
  email:
    on_success: change
    on_failure: always
