language: cpp

before_install:
  - PY_CMD=python3

matrix:
  include:
    - os: linux
      dist: xenial
      compiler: gcc
      script:
      - mkdir -p build
      - cd build
      - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD)
      - cmake --build . -j 2

    - os: linux
      dist: xenial
      compiler: clang
      script:
      - mkdir - p build
      - cd build
      - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD)
      - cmake --build . -j 2

    - os: windows
      script:
      - choco install python3
      - refreshenv
      - mkdir -p build
      - cd build
      - travis_wait 20 cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD) -G"Visual Studio 15 2017 Win64"
      - cmake --build . --config Release

notifications:
  email:
    on_success: change
    on_failure: always
