language: cpp

dist: xenial 

before_install:
  - PY_CMD=python3

script:
  - mkdir -p build 
  - cd build
  - cmake .. -DRUN_UNIT_TEST=ON -DPYTHON_EXECUTABLE=$(which $PY_CMD) 
  - cmake --build . -j 2
  - ctest -L system -j 2
  - ctest -L regress[0-1] -j 2

matrix:
  include:
    - compiler: gcc
    - compiler: clang 

notifications:
  email:
    on_success: change
    on_failure: always
